* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

div {
  background-size: cover;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 700px;
  flex-wrap: wrap;
}

.cells {
  border: 1px solid rgb(238, 237, 237);
  background-color: #fff;
  border-radius: 4px;
}

/* .game-box {
	box-shadow: 
		0px 0px 0px 15px #F4B860,
		0px 10px 0px 15px #ce9136,
		0px 20px 20px 15px #0003;
  border-radius: 100px 30px 100px 30px;
  padding: 100px 100px 30px 100px;
  
} */

.score-box {
 	/* box-shadow: 
		0px 0px 0px 15px #F4B860,
		0px 10px 0px 15px #ce9136,
		0px 20px 20px 15px #0003;
  border-radius: 100px 30px 100px 30px;
  padding: 10px;
  margin: 50px; */
  text-align: center;
}

.button {
  border: solid 1px grey;
  cursor: pointer;
}

