@font-face {
  font-family: 'Beograd';
  src: url('../fonts/Beograd.ttf'), url('../fonts/Beograd.woff');
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('../fonts/ChakraPetch-SemiBold.ttf');
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  background-size: cover;
}

h1, h2 {
  font-family: 'Beograd';
  color: white;
}

h1 {
text-shadow: 
  1px 1px 1px #CBCBCB,
  1px 2px 1px #CBCBCB,
  1px 3px 1px #CBCBCB,
  1px 4px 1px #CBCBCB,
  0px 0px 0px rgba(16,16,16,0.4),
  0px 0px 0px rgba(16,16,16,0.2),
  0px 0px 0px rgba(16,16,16,0.2),
  0px 0px 0px rgba(16,16,16,0.4);
}

input {
  border: none;
  background-color: #8d190f;
  box-shadow: inset 8px 8px 0px 0px #61110a;
  padding: 20px;
  border-radius: 10px;
  color: white;
  outline:0; 
  font-size:1em;
  font-weight:600;
}

ol {
  margin: 0px;
}

li {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

p, li, ol, button, input {
  font-family: 'Chakra Petch', sans-serif;
}

.grid {
  display: flex;
  flex-direction: row;
	box-shadow: 
		0px 0px 0px 15px #C82515,
		10px 10px 0px 15px #8d190f,
		0px 20px 20px 15px #0003;
  border-radius: 85px 30px 85px 30px;
  width: 340px;
  height: 640px;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #C82515;
  z-index: 1;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-start, .modal-gameover1, .modal-gameover2, .modal-settings {
  background-color: #C82515;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.modal-gameover1 {
  /* display: none; */
}

.modal-gameover2 {
  display: none;
}

.cells {
  border: 1px solid rgb(238, 237, 237);
  background-color: #fff;
  border-radius: 2px;
}

.leaderboard {
  background-color: #8d190f;
  box-shadow: inset 8px 8px 0px 0px #61110a;
  padding: 20px;
  border-radius: 10px;
}

.grid-left, .grid-right {
  color: #C82515;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.grid-left-buttons, .grid-right-scores {
  display: none;
}

.grid-left-buttons {
  text-align: right;
  position: absolute;
  margin-bottom: 100px;
}

.grid-left-buttons p{
  cursor: pointer;
}

.grid-right-scores {
  position: absolute;
  margin-bottom: 100px;
  margin-left: 80px;
}

.start-screen {
  /* display: none; */
}

.pause-screen {
  display: none;
}

.gameover-screen {
  display: none;
}

.settings-screen {
  display: none;
}

.leaderboard li{
  /* margin-left: 10px; */
}

.logo {
  width: 200px;
  margin-top: 20px;
  filter: drop-shadow(2px 2px 1px #CBCBCB);
} 

.side-art {
  width: 200px;
  margin-top: 100px;
}
.grid-left .side-art {
  /* margin-right: 4.8px; */
  margin-top: 100px;
    /* margin-left: 0px; */
  margin-right: 5px;
}
.side-art:last-child {
  margin-left: 15px;
}

button{
  margin: 50px 0px;
  color: black;
  outline:0; 
  width: 180px;
  cursor: pointer;
  font-size:1em;
  font-weight:600;
  background:#fff;
  border:none;
  padding: 1.4rem 3.8rem;
  border-radius: 5px;
  transition:all .3s ease-out; 
  box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #8d190f,
    2px 2px 0 0 #8d190f,
    3px 3px 0 0 #8d190f,
    4px 4px 0 0 #8d190f,
    5px 5px 0 0 #8d190f,
    6px 6px 0 0 #8d190f,
    7px 7px 0 0 #8d190f,
    8px 8px 0 0 #8d190f,
    9px 9px 0 0 #8d190f,
    10px 10px 0 0 #8d190f,
    11px 11px 0 0 #8d190f,
    12px 12px 0 0 #8d190f;
}
button:hover{
  color:#444;
}
button:active{
  color:#222;
  box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #8d190f,
    2px 2px 0 0 #8d190f,
    3px 3px 0 0 #8d190f,
    4px 4px 0 0 #8d190f,
    5px 5px 0 0 #8d190f;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}